<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title> <!-- You can dynamically set the title -->
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  {{!-- <header>
    <h1>Clear Sky Weather</h1>
  </header> --}}

  <div class="content">
    {{{body}}} <!-- The content of each page (like index.handlebars) will be injected here -->
  </div>

  {{!-- <footer>
    <p>&copy; 2025 Clear Sky Weather</p>
  </footer> --}}

  <script src="/js/main.js"></script>
</body>
</html>
